@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #0F222D;
    color: white;
}

.main nav{
    max-width: 80vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.main img{
    width: 230px;
}

.main nav button{
    border: none;
    
    color: #fac500;
    background-color: #0f222d;
    cursor: pointer;
    font-size: 25px;
}

.main nav div{
    gap: 30px;
    display: flex;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70vw;
    margin: auto;
}

.hero h1{
    font-size: 65px;
    margin: 30px 0 10px 0px;
}

.hero h2{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.box{
    width: 30vw;
    
    border: 5px solid gray;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #BAD7E9;
    color: black;
    margin: 0 0 60px 0;
}

.text{
    font-size: 30px;
text-align: center;
margin: 15px 0 ;
}

.minus , .plus{
    font-size: 45px;
    padding: 0 15px  ;
    background-color: #FFCD4B;
    font-weight: 600;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group button,
.input-group form {
    margin-right: 20px;
}

#number [type="number"] {
    width: 100px; 
    font-size: 30px; 
}


.input-group img{
    margin-right: 0px;
}


.box img{
    width: 50px;
}

.input-group2{
    font-size: 26px;
    margin: 20px;
}

#tripname{
    font-size: 20px;
}

.Start{
    font-size: 45px;
    padding: 3px 61px;
    border-radius: 50px;
    background-color: #FFCD4B;
}

.first {
    display: flex;
    justify-content: center;
    color: white;
    max-width: 70vw;
    margin: auto;
    /* align-items: center; */
    padding: 45px;
}

.content {
    display: flex;
    flex-direction: column;
}
 section .content :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

 section .content :nth-child(2) {
    font-size: 22px;
}

.secImg {
    margin: 9px 15px;
}
 
.secImg img{
    width: 365px;
} 

.seperation {
    background-color: rgb(89, 89, 89);
    height: 7px;

}

.last{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 45px;
}

.last h1{
    font-size: 48px;
    font-weight: bolder;
    padding: 0px;
}


.last h2{
    font-size: 22px;
    font-weight: 400;
    padding: 0px;
}


footer{
    color: white;
    width: 75vw;
    margin: auto;

}

footer img{
    width: 160px;
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 14px;
  
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
footer a{
    color: white;
    font-size: 14px;
}